/*
	font nuswa indonesia colection
	design by unjunk al moekty, Farda Fitriyanti, AKihiko avaron
	make with iconmoon app
*/
@font-face {
	font-family: 'nuswa-indonesia';
	src:url('../font/nuswafont.eot?-541dsm');
	src:url('../font/nuswafont.eot?#iefix-541dsm') format('embedded-opentype'),
		url('../font/nuswafont.woff?-541dsm') format('woff'),
		url('../font/nuswafont.ttf?-541dsm') format('truetype'),
		url('../font/nuswafont.svg?-541dsm#iconmoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="nf-"], [class*=" nf-"] {
	font-family: 'nuswa-indonesia';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.nf-nuswa-break-paper:before{
	content: "\e600";
}
.nf-nuswa-uniform:before{
	content: "\e601";
}
.nf-nuswa-owl:before{
	content: "\e602";
}
.nf-nuswa-rocket:before{
	content: "\e603";
}
.nf-nuswa-pack:before{
	content: "\e604";
}
.nf-nuswa-jet:before{
	content: "\e605";
}
.nf-nuswa-paper:before{
	content: "\e606";
}
.nf-nuswa-org:before{
	content: "\e607";
}
.nf-nuswa-coffe:before{
	content: "\e608";
}
.nf-nuswa-kuas:before{
	content: "\e609";
}
.nf-nuswa-korup:before{
	content: "\e60a";
}
.nf-nuswa-cobek:before{
	content: "\e60b";
}
.nf-nuswa-mobilitas:before{
	content: "\e60c";
}
.nf-nuswa-neraca:before{
	content: "\e60d";
}
.nf-nuswa-lamp:before{
	content: "\e60e";
}
.nf-nuswa-blind:before{
	content: "\e60f";
}
.nf-nuswa-bntg-setengah:before{
	content: "\e610";
}
.nf-nuswa-gembok:before{
	content: "\e611";
}
.nf-nuswa-break-message:before{
	content: "\e612";
}
.nf-nuswa-rak:before{
	content: "\e613";
}
.nf-nuswa-setengah-hati:before{
	content: "\e614";
}
.nf-nuswa-telp:before{
	content: "\e615";
}
.nf-nuswa-chat:before{
	content: "\e616";
}
.nf-nuswa-img:before{
	content: "\e617";
}
.nf-nuswa-link:before{
	content: "\e618";
}
.nf-nuswa-book-cont:before{
	content: "\e619";
}
.nf-nuswa-hati:before{
	content: "\e61a";
}
.nf-nuswa-atom:before{
	content: "\e61b";
}
.nf-nuswa-message:before{
	content: "\e61c";
}
.nf-nuswa-pesawat:before{
	content: "\e61d";
}
.nf-nuswa-talk:before{
	content: "\e61e";
}
.nf-nuswa-perempuan:before{
	content: "\e61f";
}
.nf-nuswa-laki:before{
	content: "\e620";
}
.nf-nuswa-rupiah:before{
	content: "\e621";
}
.nf-nuswa-flow:before{
	content: "\e622";
}
.nf-nuswa-group:before{
	content: "\e623";
}
.nf-nuswa-user:before{
	content: "\e624";
}
.nf-nuswa-pacul:before{
	content: "\e625";
}
.nf-nuswa-logoNuswa:before{
	content: "\e626";
}
.nf-nuswa-file-pdf:before{
	content: "\e627";
}
.nf-nuswa-file:before{
	content: "\e628";
}
.nf-nuswa-pencarianbaru:before{
	content: "\e629";
}
.nf-nuswa-copy:before{
	content: "\e62a";
}
.nf-nuswa-print:before{
	content: "\e62b";
}
.nf-nuswa-arsip:before{
	content: "\e62c";
}
.nf-nuswa-pencil:before{
	content: "\e62d";
}
.nf-nuswa-lonceng:before{
	content: "\e62e";
}
.nf-nuswa-download:before{
	content: "\e62f";
}
.nf-nuswa-upload:before{
	content: "\e630";
}
.nf-nuswa-file-doc:before{
	content: "\e631";
}
.nf-nuswa-file-js:before{
	content: "\e632";
}
.nf-nuswa-file-zip:before{
	content: "\e633";
}
.nf-nuswa-gerobak:before{
	content: "\e634";
}
.nf-nuswa-user-man:before{
	content: "\e635";
}
.nf-nuswa-user-woman:before{
	content: "\e636";
}
.nf-nuswa-ikan:before{
	content: "\e637";
}
.nf-nuswa-derek:before{
	content: "\e638";
}
.nf-nuswa-onyet:before{
	content: "\e639";
}
.nf-nuswa-black-gost:before{
	content: "\e63a";
}
.nf-nuswa-pumkin:before{
	content: "\e63b";
}
.nf-nuswa-zoid:before{
	content: "\e63c";
}
.nf-nuswa-pendel:before{
	content: "\e63d";
}
.nf-nuswa-bat:before{
	content: "\e63e";
}
.nf-nuswa-bug:before{
	content: "\e63f";
}
.nf-nuswa-couple:before{
	content: "\e640";
}
.nf-nuswa-tas:before{
	content: "\e641";
}
.nf-nuswa-keker:before{
	content: "\e642";
}
.nf-nuswa-payung:before{
	content: "\e643";
}
.nf-nuswa-city:before{
	content: "\e644";
}
.nf-nuswa-mushroom:before{
	content: "\e645";
}
.nf-nuswa-img-n:before{
	content: "\e646";
}
.nf-nuswa-blue-books:before{
	content: "\e647";
}
.nf-nuswa-tv:before{
	content: "\e648";
}
.nf-nuswa-arsip-n:before{
	content: "\e649";
}
.nf-nuswa-lonceng-n:before{
	content: "\e64a";
}
.nf-nuswa-lan:before{
	content: "\e64b";
}
.nf-nuswa-chat-n:before{
	content: "\e64c";
}
.nf-nuswa-graduate:before{
	content: "\e64d";
}
.nf-nuswa-tiga-block:before{
	content: "\e64e";
}
.nf-nuswa-flag-ind:before{
	content: "\e64f";
}
.nf-nuswa-cart:before{
	content: "\e650";
}
.nf-nuswa-sandal:before{
	content: "\e651";
}
.nf-nuswa-break-block:before{
	content: "\e652";
}
.nf-nuswa-pc:before{
	content: "\e653";
}
.nf-nuswa-mic:before{
	content: "\e654";
}
.nf-nuswa-headphone:before{
	content: "\e655";
}
.nf-nuswa-koki:before{
	content: "\e656";
}
.nf-nuswa-price:before{
	content: "\e657";
}
.nf-nuswa-gear:before{
	content: "\e658";
}
.nf-nuswa-lamp-n:before{
	content: "\e659";
}
.nf-nuswa-jam-tangan:before{
	content: "\e65a";
}
.nf-nuswa-price-free:before{
	content: "\e65b";
}
.nf-nuswa-pencil-n:before{
	content: "\e65c";
}
.nf-nuswa-home:before{
	content: "\e65d";
}
.nf-nuswa-truck:before{
	content: "\e65e";
}
.nf-nuswa-phone:before{
	content: "\e65f";
}
.nf-nuswa-tong-sampah:before{
	content: "\e660";
}
.nf-nuswa-rupiah-n:before{
	content: "\e661";
}
.nf-nuswa-block-chart:before{
	content: "\e662";
}
.nf-nuswa-lcd:before{
	content: "\e663";
}
.nf-nuswa-globe:before{
	content: "\e664";
}
.nf-nuswa-star:before{
	content: "\e665";
}
.nf-nuswa-camera:before{
	content: "\e666";
}
.nf-nuswa-home-n:before{
	content: "\e667";
}
.nf-nuswa-plus:before{
	content: "\e668";
}
.nf-nuswa-warning:before{
	content: "\e669";
}
.nf-nuswa-daun:before{
	content: "\e66a";
}
.nf-nuswa-warning-n:before{
	content: "\e66b";
}
.nf-nuswa-tanya:before{
	content: "\e66c";
}
.nf-nuswa-logoNuswa-n:before{
	content: "\e66d";
}
.nf-nuswa-movie:before{
	content: "\e66e";
}
.nf-nuswa-kuranglebih:before{
	content: "\e66f";
}
.nf-nuswa-masjid:before{
	content: "\e670";
}
.nf-nuswa-minus:before{
	content: "\e671";
}
.nf-nuswa-message-read:before{
	content: "\e672";
}
.nf-nuswa-padi:before{
	content: "\e673";
}
.nf-nuswa-ramen:before{
	content: "\e674";
}
.nf-nuswa-cones:before{
	content: "\e675";
}
.nf-nuswa-charge:before{
	content: "\e676";
}
.nf-nuswa-bis:before{
	content: "\e677";
}
.nf-nuswa-city-n:before{
	content: "\e678";
}
.nf-nuswa-baterai:before{
	content: "\e679";
}
.nf-nuswa-kuas-n:before{
	content: "\e67a";
}
.nf-nuswa-windows:before{
	content: "\e67b";
}
.nf-nuswa-jam-pasir:before{
	content: "\e67c";
}
.nf-nuswa-mail-book:before{
	content: "\e67d";
}
.nf-nuswa-kalkulator:before{
	content: "\e67e";
}
.nf-nuswa-media-player:before{
	content: "\e67f";
}
.nf-nuswa-kuas-m:before{
	content: "\e680";
}
.nf-nuswa-ubuntu:before{
	content: "\e681";
}
.nf-nuswa-contact-book:before{
	content: "\e682";
}
.nf-nuswa-facebook:before{
	content: "\e683";
}
.nf-nuswa-twitter:before{
	content: "\e684";
}
.nf-nuswa-gplus:before{
	content: "\e685";
}
.nf-nuswa-linkedin:before{
	content: "\e686";
}
.nf-nuswa-duaring:before{
	content: "\e687";
}
.nf-nuswa-cros:before{
	content: "\e688";
}
.nf-nuswa-speda:before{
	content: "\e689";
}
.nf-nuswa-tangganada:before{
	content: "\e68a";
}
.nf-nuswa-link-n:before{
	content: "\e68b";
}
.nf-nuswa-lokasi:before{
	content: "\e68c";
}
.nf-nuswa-img-m:before{
	content: "\e68d";
}
.nf-nuswa-file-exl:before{
	content: "\e68e";
}
.nf-nuswa-profile-card:before{
	content: "\e68f";
}
.nf-nuswa-toko:before{
	content: "\e690";
}
.nf-nuswa-gembok-n:before{
	content: "\e691";
}
.nf-nuswa-file-rar:before{
	content: "\e692";
}
.nf-nuswa-file-ppt:before{
	content: "\e693";
}
.nf-nuswa-paku:before{
	content: "\e694";
}